body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header, footer{
    color: white;
    background-color: navy;
}
.site-title{
    color: navy
}
#my-image{
    box-shadow: h-offset: 0; v-offset: 0; blur: 2px; spread: 1px; color:black;
    

}
