body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header, footer{
    color: white;
    background-color: navy;
}
.site-title{
    color: navy
}
#my-image{
    box-shadow: 0px 0px 2px 1px black;
}
ul.a{
    list-style-type: square;
}
ul:nth-child(odd) {
    color: white;
    background-color: navy;
}
a{
    text-decoration: none;
    background-color: white;
    border: navy;
}
a:hover {
    color: white;
    background-color: navy;
}
