
body {
    background-color:#aad4cf
}
body {
    color: white; 
    font-family: Arial, Helvetica, sans-serif
    
}
body {
    width: 500px
    margin 0: auto;  
}
header {
    width: 500px 
    display: center;
    color: white;
}
.container {
    width: 500px
    margin: 0; auto
}
.starfish {
    width: 150px
    float: left
}
ul navig {
    display: inline-block; 
}